<!DOCTYPE html>
<!-- saved from url=(0037)http://earth.pinsupreme.com/grey.html -->
<html class="csstransforms csstransforms3d csstransitions">
<body style="">
  <div class="noise-wrapper">
	<section class="leaderboard leaderboard-style-one">
	<div class="container">
	  <h1 class="animated fadeInDown">Welcome to Invokevoke PM Tool</h1>
	  <h2 class="animated fadeInDown">Invokevoke Project Management Tool Demo</h2>
	</div>
	</section>
  <div class="separator-shadow-top above-screenshot-shadow">
    <img alt="" src="/assets/demo_images/shadow-separator-wide-top.png">
  </div>
</div>
</div>
<div class="area-content">
  <div class="container">
    <div class="iconed-features lift-on-hover style-1">
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-md-4">
            <div class="iconed-feature">
              <div class="feature-icon-w">
                <!-- <i class="icon-eye-open"></i> -->
                <i class="icon-cog"></i>
              </div>
              <h4><%= user.name %></h4>
              <p><%= link_to user.name, user %></p>
              <div class="btn-show-on-parent-hover">
                <%= link_to 'EDIT USER' ,  "/users/#{user.id}/edit",:class =>"read-more-link" if current_user.can_update?(user) %>
              </div>
            </div>
          </div>
        <% end%>
        <!-- <div class="col-md-4">
          <div class="iconed-feature">
            <div class="feature-icon-w">
              <i class="icon-cog"></i>
            </div>
            <h4>Lorem Ipsum</h4>
            <p>Lorem Ipsum</p>
            <div class="btn-show-on-parent-hover">
              <a class="read-more-link" href="#">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="iconed-feature">
            <div class="feature-icon-w">
              <i class="icon-leaf"></i>
            </div>
            <h4>Lorem Ipsum</h4>
            <p>Lorem Ipsum</p>
            <div class="btn-show-on-parent-hover">
              <a class="read-more-link" href="#">Read More</a>
            </div>
          </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
<a id="scrollUp" href="http://earth.pinsupreme.com/grey.html#top" title="&lt;i class=&#39;icon-chevron-up&#39;&gt;&lt;/i&gt;" style="position: fixed; z-index: 2147483647; display: none;"><i class="icon-chevron-up"></i></a></body></html>