<footer id="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="footer-menu">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <div class="copyright">
            2013 © Invokevoke. All rights reserved.
          </div>
        </div>
        <div class="col-md-6">
          <ul class="footer-social">
            <li><a href="http://earth.pinsupreme.com/grey.html#"><i class="icon-facebook"></i></a></li>
            <li><a href="http://earth.pinsupreme.com/grey.html#"><i class="icon-twitter"></i></a></li>
            <li><a href="http://earth.pinsupreme.com/grey.html#"><i class="icon-dribbble"></i></a></li>
            <li><a href="http://earth.pinsupreme.com/grey.html#"><i class="icon-linkedin"></i></a></li>
            <li><a href="http://earth.pinsupreme.com/grey.html#"><i class="icon-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>