<footer id="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="footer-menu">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <div class="copyright">
            2013 © Invokevoke. All rights reserved.
          </div>
        </div>
        <div class="col-md-6">
          <ul class="footer-social">
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-dribbble"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
            <li><a href="#"><i class="icon-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
<a id="scrollUp" href="http://earth.pinsupreme.com/grey.html#top" title="&lt;i class=&#39;icon-chevron-up&#39;&gt;&lt;/i&gt;" style="position: fixed; z-index: 2147483647; display: none;"><i class="icon-chevron-up"></i></a>